---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header
      class="sm:bg-gray-200 h-14 w- full flex justify-around items-center"
    >
      <div class="flex flex-col justify-center items-center h-14 w-14 sm:hover:bg-blue-200 sm:active:bg-blue-400">
        <i class="bi bi-person-circle text-4xl flex items-start justify-center"
        ></i>
        <span class="flex items-end justify-start">Perfil</span>
      </div>
      <div class="h-14 flex w-3/5 h-14 items-center justify-around bg-gray-300">
        <i class="bi bi-search text-3xl"></i>
        <input type="text" placeholder="    Buscar" class="w-5/6 h-10 rounded-md" />
      </div>
      <div class="flex">
        <i class="bi bi-brightness-high text-4xl"></i>
      </div>
    </header>
    <section class="sm:h-96 sm:w-12/12 flex ">
      <nav class="flex flex-col lg:w-72 lg:-ml-4 lg:items-center sm:bg-neutral-300 sm:w-44 ">
        <a
          href="/"
          class="h-20 lg:w-52 sm:w-28 flex items-center border-b-2 border-black sm:hover:bg-gray-200 sm:active:bg-gray-400"
          >Pendientes</a>
        <a
          href="/"
          class="h-20 lg:w-52 sm:w-28 flex items-center border-b-2 border-black sm:hover:bg-gray-200 sm:active:bg-gray-400"
          >Realizadas</a>
        <a
          href="/"
          class="h-20 lg:w-52 sm:w-28 flex items-center border-b-2 border-black sm:hover:bg-gray-200 sm:active:bg-gary-400"
          >Calendario</a>
      </nav>
    </section>
    <main class="sm:flex sm:flex-col sm:items-center justify-between lg:w-3/5 lg:ml-64 sm:h-96 sm:-mt-96 sm:min-w-28 sm:bg-neutral-200 absolute">
    <slot/>
      <section class="sm:h-64 sm:w-3/5 sm:min-w-16">
        <h1 class="flex justify-center text-bold text-lg">
          Lista de tareas ordenadas por fecha
        </h1>
      </section>
    </main>
    <section class="sm:flex sm:flex-col sm:items-end sm:h-96 sm:-mt-96 justify-between sm:bg-neutral-200">
      <div
        class="sm:h-44 sm:flex sm:flex-col sm:w-32 lg:w-64  lg:h-20 lg:flex sm:justify-between"
      >
        <ul class="sm:flex sm:mt-5 sm:flex-col lg:flex lg:-mt-0.5">
          <li class="lg:ml-3 lg:py-3 lg:w-16">Fecha</li>
          <input
            class="h-12 w-28 sm:flex lg:flex items-center justify-center border text-xs"
            type="date"
          />
          <li class="flex items-start lg:ml-36 lg:-mt-20 ">Hora</li>
          <input
            class="h-12 w-28 sm:flex lg:flex lg:ml-32 lg:mt-2 items-center justify-center border"
            type="number"
          />
        </ul>
      </div>
      <div>
        <a class="rounded-full h-4 w-4" href="/"><i class="bi bi-plus-circle text-4xl sm:hover:bg-gray-200 sm:active:bg-gray-400 rounded-full h-4 w-4"></i></a>
      </div>
    </section>
  </body>
</html>
