body{
    display: flex;
    flex-direction: column;
    width: min-content;
    background-color: rgb(238, 183, 144);
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.uno1{

    margin-left: 22%;
    margin-top: -15%;
}

.titulo{
    margin-left: 28%;
}
.uno{
    width: 400px;
}

.lista{
    display: flex;
    flex-direction: row;
}

.l1{
    width: 300px;
    margin-right: 75px;
}

/**/

.sidebar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin-left: 0%;

}

.color{
    background-color: bisque;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 310px;
    margin-top:15% ;
    margin-bottom: 10%;
}

.sidebar__nav{
    display: flex;
    flex-direction: column;
    margin-left: -65px;
}
img{
    height: 70px;
    width: 70px;
    border-radius: 150px;
    margin-left: 15px;
    margin-top: 10px;
}

.sidebar__logo{
    color:grey;
    text-decoration:grey;
}

h4 {
    color:grey;
    text-decoration:grey;
   
}

/**/
.list-wrapper{
    margin-top: -12%;
    margin-left: -15px;
}

.list {
    margin-left: 60px;
}

.list-item {
    border-bottom: 1px solid rgb(211, 208, 208);
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    background-color: bisque;
    margin-right: 85%;
    margin-left: -3%;
}

.bosco {
    height: 70px;
    width: 70px;
    border-radius: 150px;
    margin-left: 15px;
    margin-top: 10px;
}

.list-item__content {
    margin-left: 10px;
    text-decoration: grey;


}




