---

//function boton(){
//    console.log('Hola Mundo');
//}
---
<button id="boton" class=" bg-green-200 text-blue-600 w-24 h-24 " onclick="boton">Color</button>

<script>
    const botonInteractivo = document.getElementById("boton");

    botonInteractivo?.addEventListener('click', function(){
        console.log('Hola Mundo');
        botonInteractivo.style.background = "red"; 
        botonInteractivo.style.color = "black"; 
        botonInteractivo.style.width="90%";
        botonInteractivo.style.hei

    })
</script>