* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(135, 154, 177, 1) 100%);
}

.div1{
    display: flex;
    justify-content:space-between; 

}

.twitter{
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content:end;
    gap: 25px;

}

.twitter-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: solid 1px;

}

ul {
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    list-style: none;

}

h1{
    font-size: 1em;
    padding: 15px;
}

.img1 {
    width: 30px;
    height: 3vh;
}

.div2{
    width: 13rem;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    position: absolute;
}

.img{
    width: 50%;
    height:15rem;
}

.logo{
    width: 100%;
    height: 100%;
    display: grid;
}

.logo_big{
    width: 50%;
    height: auto;
    justify-self: center;
    align-items: start;

}

.iconos{
    width: 25%;
    height: 18rem;
    display: grid;
    align-items: flex-start;
    margin-top: -20%;
    justify-content: space-around;
}

h1{
    justify-self: flex-start;
}
.cuadro1{
    width: 10rem;
    height: auto;
    justify-self: center;
}

.label1{
    width: 12rem;
    height: 2rem;
    border: 3px solid white;
    display: flex;
}

i{
    font-size: 2em;
}

.form{
    width: 20rem;
    height: auto;
    display: grid;
    justify-content: center;
}

.form1{
    width: 10rem;
    height: auto;
    display: flex;
    padding: 2%;
}

span{
    padding: 2%;
}

label{
    width: 2.8rem;
    height: 2rem;
    border: 3px solid white;
    display: flex;
    padding: 2%;
}

.flor{
    background-image: url("hiro.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid white;
    width: 13rem;
    height: 6vh;
    justify-self: center;
    margin-left: 3rem;
}

.circulo{
    width: 20rem;
    height: auto;
    display: flex;
    justify-content: center; 
}

.derecha{
    width: 80VW;
    position: absolute;
    display: flex;
    justify-content: end;
}
section{
    display:grid;
    position: absolute;
}

nav{
    width: 89vw;
    height: 45vh;
    display: flex;  
    justify-content: end;
    align-items: end;
}
.uno {
    width: 5vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:100%;
    border: 3px solid white;

}

.dos{
    width: 4vw;
    height: 8vh;
    border-radius: 100%;
    border: 3px solid white;
}

.dos1{
    
}