*{
    margin: 0;
    padding: 0;
}

.anuncio_coronavirus{
    width: 99vw;
    height: 5vh;
    background-color: rgba(137, 43, 226, 0.301);
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    background-color:white;
    width: 99vw;
    height: 55vh;
}

.nav_1{
    color: blue;
    width: 99vw;
    height: 5vh;
    background-color:white; 
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
    position: absolute;
}

.despegar{
    margin-left: 50px;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-right: 50px;
    border-bottom-left-radius: 20px;
    background-color: rgba(128, 128, 128, 0.404);

}

li{
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
}

.nav_2{
    color: blue;
    width: 49vw;
    height: 15vh;
    background-color:white; 
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    align-items: end; 
    position: absolute;
    margin-top: -25%;
}

.n_2{
    margin-left: 15px;
    margin-right: 15px;
}
.anuncio_viajes{
    width: 20vw;
    height: 18vh;
    background-color:white; 
    color: black;
    font-size: 0.8em;
    position: absolute;
    z-index: 1;
    margin-top: -25%;
    margin-left: 55%;
    border-radius: 25px solid white;
    box-shadow: 0 0 10px rgba(59, 59, 59, 0.199);
}
.secion_anuncio{
    color: blueviolet;
}

.texto_anuncio{
    margin-left: 55px;
    margin-top: -25px;
    font-size: 1.5em;
}

.icono{
    margin-top: 25px;
    margin-left: 10px;
}

main{
    background-color: rgba(137, 43, 226, 0.301);
    height: 30vh;
    display: flex;
    justify-content: center;
    margin-top: -17%;
}

.div_contenido_principal{
    height:25vh ;
    margin-left: 120px;
    background-color: rgb(5, 5, 109);
    color: white;
    margin-top: 15px;
    border-radius: 25px;
    font-size: 1em;

}

.contenido_principal, .formulario_viaje, .discapacidad{
    margin-left: 25px;
    margin-top: 10px;
    margin-right: 25px;
}
.titulo_viaje{
    font-size: 1.3em;
    
}

.formulario_viaje{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.formulario{
    margin-top: -15px;
    margin-left: 55px;
}

.input{
    width: 5vw;
    height: 3vh;
    margin-left: -65px;
    margin-top: 10px;

}

.input1{
    width: 8vw;
    height: 3vh;
    margin-left: -128px;
    margin-top: 10px;
}

button{
    width: 5vw;
    height: 5vh;
    margin-top: 10px;
    border-radius: 15px;
    background-color: rgb(233, 37, 37);
    color: white;
}

.discapacidad{
    display: flex;
    gap: 25px;
}

.especificaciones{
    margin-left: 5%;
}

section{
    height: 52vh;
    background-color:rgba(128, 128, 128, 0.384);
}

.otras_opciones{
    display: flex;
    gap: 3%;
    margin: 4%;
}

.vuelos{
    width: 15vw;
    background-color: blueviolet;
    gap: 5%;
}

.img{
    width: 15vw;
    height: 25vh;
    
}

.h6{
    margin-top: 25px;
    font-size: 1em;
    gap: 2px;
}

.h1{
    font-size: 1.3em;
}
