body{
    width: 800px;
    height: 600px;
    background-color: cyan;
    margin-left:15%;
}
h1{
    margin-top:25%;
}

.navegacion{
    padding: 10%;
    background-color: blanchedalmond;
    border: 10px dotted blue;
    display: flex;
    justify-content: space-between;
    margin-top: 25%;
}
.navegacion:hover{
    background-color: cornflowerblue;
}
.titulo:hover{
background-color: crimson;
}

.titulo1:hover{
    background-color: darkolivegreen;
}

.titulo2:hover{
    background-color:darkviolet;
}

.titulo3:hover{
    background-color: gray;
}

.titulo4:hover{
    background-color: lightcoral;
}

nav{
    display: flex;
    height:50%;
    padding: 10%;
    margin-top:25%;
}

#div1{
    display: flex;
    flex-direction: column-reverse;
    height:50%;
    align-content: end;
    justify-content: end;  
}

p{
    padding: 10%;
    margin-top:25%;
}