<div class=" text-xl h-44  bg-purple-800 text-center flex flex-col justify-center mb-8">
    <h1 class="text-3xl font-bold text-center">Team</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos ad sapiente possimus? Tempore, cum rem.</p>
</div>

<div class=" text-xl h-44  bg-fuchsia-800 text-center flex flex-col justify-center" >
    <h1>Hola</h1>
    <p>Y ESA MAMADA???!!!!!</p>
</div> 