/* estilos de mi pagina */
*{
    margin: 0;
    padding: 0;
}
/* estilos de todo lo que tiene el encabezado de mi pagina  */
header{
    background-color: black;
    height: 15vh;
    width: 100vw;
}

.div_encabezado{
    color:white;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
}
.logo{
    height: 8vh;
    width: 10vw;
    margin-right: 5px;
} 
.select_encabezado, .select{
    display: flex;
    flex-direction:row;
    height: 20px;
    margin-top: 10px;
    background-color: black;
    color: white;
    gap: 1rem;
}

.div_busqued{
    display: flex;
    margin-top: 10px;
    gap: 1rem;
    margin-right:115px;
}

/* estilos del contenido de mi pagina */
.cuerpo{
    width: 100vw;
    height: 70vh;
    display: flex;
    background: linear-gradient(231deg, rgba(235,93,16,1) 0%, rgba(235,185,16,0.5382528011204482) 100%)
}

.degradado-transparente{
    position: absolute;
    width: 100vw;
    height: 70vh;
    background: linear-gradient(231deg, rgba(235,93,16,1) 0%, rgba(235,185,16,0.5382528011204482) 100%)
}

.div_cuerpo{
    height: 300px;  
    margin-top: 100px;
    
}

.texto_cuerpo{
    width:30vw;
    height: 35vh;
    margin-top: 60px;
    margin-left: -55px;
    border-left: 5px solid white;
    border-bottom:5px solid white ;
   /*  position: relative; */
    z-index: 1;
}

.texto{
    width:50vw;
    margin-left: 55px;
    /* position:fixed;
    z-index: ; */
    color: white;
}

.botones{
    margin-top: 15px;
}

.boton_uno{
    background-color: black;
    color: white;
}

/* estilos de pie de mi pagina */
.pie{
    height: 23vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: black;
}

.pie_js, .angular{
    height: 23vh;
    background-color: rgb(71, 69, 69);
    color: white;
    font-size: 15px;
    margin-left: 80px;

}

.js{
    height: 8vh;
    width: 5vw;
}



.a{
    height: 8vh;
    width: 5vw;

}

.final{
    color: white;
    height: 8vh;
    font-size: 15px;
    margin-left: 80px;
    margin-top: 40px;
}
 /* responsive para daptar a un movil */
@media screen and (max-width:767px) {
    width: 767px;

}
/* medida para que se adapte a una tablet */
@media screen and (min-width:768px) and (max-width:1023px) {
    
}
/* medidas para quqe se adapte a una pantalla mas grande como pc  */
@media screen and (min-width:1024px) {
    
}