main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.titulo{
    margin-left: 28%;
}
.uno{
    width: 400px;
}

.lista{
    display: flex;
    flex-direction: row;
}

.l1{
    width: 300px;
    margin-right: 75px;
}