---
import Layout from '../layouts/Layout.astro';
import data from '../../estudiantes.json';
const alumno = data.nombre


export interface Estudiante {
	id: number;
	nombre: string;
	edad: number;
	direccion: string;
	telefono: number;
	curso: string;
 }
 const estudiante = data as Estudiante
 const array_estudiantes: Estudiante[] = [
   estudiante,
   estudiante,
   estudiante,
   estudiante
]
 console.log(alumno);

for(let informacion in array_estudiantes)
 console.log(array_estudiantes[informacion]);

---

<Layout title='Estudiantes' >
	<table class="text-white">
		<tr>Estudiantes</tr>
		{
		  array_estudiantes.map((element) => 
			(
			<tr>
			  <td><a href="id">{element.id}</a></td>
			  <td>{element.nombre}</td>
			</tr>
			)
		  )
		}
	  </table>
</Layout>


