body{
    width: 800px;
    height: 600px;
}
.principal{
    margin-left: 50%;
}

h1{
    background-color: rgb(159, 160, 95);
    border :chartreuse inset ;
    padding: 20px;
}
nav{
    background-color: cadetblue;
    border :chartreuse inset ;
    padding: 20px;
}

.segundo{
    background-color: aquamarine;
    border :cornflowerblue dotted;
    padding: 20px;
}