 /* *{
    margin: 0;
    padding: 0;
}

.anuncio_coronavirus{
    width: 100%;
    height: 5vh;
    background-color: rgba(137, 43, 226, 0.301);
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    background-color:white;
    width: 50%;
    height: 55vh;
}

.nav_1{
    color: blue;
    width: 200%;
    height: 5vh;
    background-color:white; 
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
}

.despegar{
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo_agencia{
    width: 50%;
    height: 25px;
    flex-direction: row;

}

ul{
    height: 5vh;
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    border-bottom-left-radius: 20px;
    background-color: rgba(128, 128, 128, 0.267);
    font-size: 1em;

}

li{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.7em;
    gap: 10px;
}

.h2{
    font-size: 1em;
}

.nav_2{
    color: blue;
    width: 49vw;
    height: 15vh;
    background-color:white; 
    display: flex;
    flex-direction: row;
    font-size: 1em;
    justify-content: space-between;
    align-items: end; 
    position: absolute;
    margin-top: -55%;
    gap: 5px;
}

.n_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 6%;
}

.n2{
    display: none;
}
.anuncio_viajes{
    width: 20vw;
    height: 18vh;
    background-color:white; 
    color: black;
    font-size: 0.8em;
    position: absolute;
    z-index: 1;
    margin-top: -25%;
    margin-left: 60%;
    border-radius: 25px solid white;
    box-shadow: 0 0 10px rgba(59, 59, 59, 0.199);
}
.secion_anuncio{
    color: rgba(137, 43, 226, 0.623);
}

.texto_anuncio{
    margin-left: 50px;
    margin-top: -25px;
    font-size: 1.5em;
}

.icono{
    margin-top: 25px;
    margin-left: 10px;
}

main{
    background-color: rgba(137, 43, 226, 0.301);
    height: 30vh;
    display: flex;
    justify-content: center;
    margin-top: -17%;
}

.div_contenido_principal{
    width: 80vw;
    height:25vh ;
    margin-left: 10px;
    background-color: rgb(5, 5, 109);
    color: white;
    margin-top: 15px;
    border-radius: 25px;
    font-size: 1em;

}

.contenido_principal, .formulario_viaje, .discapacidad{
    margin-left: 25px;
    margin-top: 10px;
    margin-right: 25px;
}
.titulo_viaje{
    font-size: 1.3em;
    
}

.formulario_viaje{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.formulario{
    display: flex;
    gap: 15PX;
}

.input{
    width: 5vw;
    height: 3vh;
    display: flex;
    justify-content: end;
    align-items: end;
}

.input1{
    width: 8vw;
    height: 3vh;
}

button{
    width: 8vw;
    height: 5vh;
    margin-top: 10px;
    border-radius: 15px;
    background-color: rgb(233, 37, 37);
    color: white;
}

.discapacidad{
    display: flex;
    gap: 25px;
}

.especificaciones{
    margin-left: 5%;
    font-size: 2em;
}

.x{
    background-color:rgba(128, 128, 128, 0.384);
}

.otras_opciones{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.vuelos{
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.164);
    box-shadow: 0 0 10px rgba(59, 59, 59, 0.199);
    display:flex;
    flex-direction: column;

}

.h6{
    margin-top: 25px;
    font-size: 1em;
    gap: 2px;
}

.h1{
    font-size: 1.3em;
} 
/*  pantallas moviles */
 /* @media screen  and (max-width:767px) {

    body{
        margin: 0;
        padding: 0;
    }
    ul, .anuncio_viajes,.formulario_viaje, .otras_opciones{
        display: none;
    }
    main{
        margin-top: 3px;
        height:75vh;
    }
    .anuncio_coronavirus{
        width: 98vw;
    }
    nav{
        background-color:white;
        width: 50%;
        height: 15vh;
    }

    .despegar{
        width: 105%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    ul{
        width: 35vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    } 
    #ayuda{
        display: none;
    }
  
    .h2{
        z-index: -1;
    }
    .nav_2{
        height: 5vh;
        width: 100vw;
        margin-top: -35px;
    }

    .seccion{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .otras_opciones{
        flex-direction: column;
    }

    .div_contenido_principal{
        height: 70vh;
    }

    .contenido_principal{
        height: 35vh;
    }

    .formulario_viaje{
        height: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -10%
    }
    .formulario{
        display: flex;
    }

    .input{
        width: 50vw; 
        height:10vh;
        display: flex;
    }  
    
    p{
        display: none;
        z-index: -1;
    }
    
   .input1{
        width: 50vw; 
        height: 3vh;
        margin-left: -128px;
        margin-top: 10px;
    } 
    
    button{
        width: 50vw;
        height: 5vh;
        border-radius: 15px;
        background-color: rgb(233, 37, 37);
        color: white;
    }
    .discapacidad{
        margin-top: 10em;
    }

}  */

 /* pantallas de tablets */
/*@media screen and(min-width:168px) and (max-width:1024px) {


}  */

*{
    margin: 0;
    padding: 0;
}

header{
    min-width: 100px;
    height: 50vh;
}

.anuncio_coronavirus{
    min-width: 100px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    background-color:rgba(173, 105, 236, 0.301);
}


.despegar{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo_agencia{
    width: 150px;
    margin-top: 10px;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: end;
    font-size: 0.6em;
}

.ul1{
    width: 150px;
    gap: 5px;
    display: flex;
}
 i{
    font-size: 2.5em;
 }

.ul2{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    font-size: 0.6em;
}
.ul{
    display: none;
}
