<section class="sm:h-20 sm:w-3/5 sm:flex sm:items-center sm:justify-center lg:w-11/12">
<div class="sm:h-14 sm:w-48 sm:flex sm:items-center sm:justify-center sm:border-l-2 sm:border-black sm:hover:bg-gray-200 sm:active:bg-gray-400">
  <a href="/">Todo</a>
</div>
<div class="sm:h-14 sm:w-48 sm:flex sm:items-center sm:justify-center sm:border-l-2 sm:border-black sm:hover:bg-gray-200 sm:active:bg-gray-400">
  <a href="/">Dia</a>
</div>
<div class="sm:h-14 sm:w-48 sm:flex sm:items-center sm:justify-center sm:border-l-2 sm:border-black sm:hover:bg-gray-200 sm:active:bg-gray-400">
  <a href="/">Mes</a>
</div>
<div class="sm:h-14 sm:w-48 sm:flex sm:items-center sm:justify-center sm:border-l-2 sm:border-black sm:hover:bg-gray-200 sm:active:bg-gray-400">
  <a href="/">Año</a>
</div>
</section>


