*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
}

.padre{
    height: 100%;
    display: grid;
    grid-template-columns: 19% 19% 19% 20% 19%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 1%;
}

.uno{
    position: relative;
    width: 100%;
    height: 100%;
}

.adelante{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}

.atras{
    width: 100%;
    height: 100%;
    background-color: red;
}

img{
    width: 100%;
    height: 100%;  
}