main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.titulo{
    margin-left: 28%;
}
.uno1{
    width: 400px;
}

.uno{
    width: 350px;
    margin-left: 35%;
}

.lista{
    display: flex;
    flex-direction: row;
    /* margin-left: 10%; */
}

.dos{
    margin-left: 15%;
}

.l1{
    width: 300px;
    margin-right: 75px;
}